/* 
    Document   : ordertikets
    Created on : 30 avr. 2011, 13:33:15
    Author     : laurent
*/

ul.order-tabs {
margin: 1em 0 1em 0;
font: 12px arial, helvetica, sans-serif;
border-bottom: 1px solid #D0CBC1;
list-style-type: none;
padding: 3px 10px 3px 10px;
}
 
ul.order-tabs li {
display: inline;
margin-left: 10px;
}
 
ul.order-tabs li.active {
border-bottom: 1px solid #D6DCDC; /* set border color to page background color */
background-color: #D6DCDC; /* set background color to match above border color */
}
 
ul.order-tabs li.active a { /* settings for selected tab link */
background-color: #D6DCDC; /* set selected tab background color as desired */
color: #000; /* set selected tab link color as desired */
position: relative;
top: 1px;
padding-top: 4px; /* must change with respect to padding (X) above and below */
}
 
ul.order-tabs li a { /* settings for all tab links */
padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
border: 1px solid #D0CBC1; /* set border COLOR as desired; usually matches border color specified in .order-tabs */
background-color: #fff; /* set unselected tab background color as desired */
margin-right: 0px; /* set additional spacing between tabs as desired */
text-decoration: none;
border-bottom: none;
}
 
ul.order-tabs a:hover { /* settings for hover effect */
background: #D6DCDC; /* set desired hover color */
}

