<?xml version="1.0"?>
<config>
    <modules>
        <Laurent_OrderTickets>
            <version>0.1.1</version>
        </Laurent_OrderTickets>
    </modules>
    <global>
        <blocks>
            <ordertickets>
                <class>Laurent_OrderTickets_Block</class>
            </ordertickets>
        </blocks>
        <helpers>
            <ordertickets>
                <class>Laurent_OrderTickets_Helper</class>
            </ordertickets>
        </helpers>
        <models>
            <ordertickets>
                <class>Laurent_OrderTickets_Model</class>
                <resourceModel>ordertickets_mysql4</resourceModel>
            </ordertickets>
            <ordertickets_mysql4>
                <class>Laurent_OrderTickets_Model_Mysql4</class>
                <entities>
                    <chat>
                        <table>ordertickets_chat</table>
                    </chat>
                    <ticket>
                        <table>ordertickets_ticket</table>
                    </ticket>
                </entities>
            </ordertickets_mysql4>
        </models>
        <resources>
            <ordertickets_setup>
                <setup>
                    <module>Laurent_OrderTickets</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ordertickets_setup>
            <ordertickets_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ordertickets_write>
            <ordertickets_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ordertickets_read>
        </resources>
    </global>
    <admin>
        <routers>
            <ordertickets>
                <use>admin</use>
                <args>
                    <module>Laurent_OrderTickets</module>
                    <frontName>ordertickets</frontName>
                </args>
            </ordertickets>
        </routers>
    </admin>
    <adminhtml>
        <layout>
              <updates>
                  <ordertickets module="Laurent_OrderTikets">
                      <file>ordertickets.xml</file>
                  </ordertickets>
              </updates>
        </layout>
        <menu>
            <sales>
                <children>
                    <ordertickets translate="title">
                        <title>Order tickets</title>
                        <action>ordertickets/adminhtml_chat</action>
                        <sort_order>600</sort_order>
                    </ordertickets>
                </children>
            </sales>
        </menu>
        <translate>
            <modules>
                <Laurent_OrderTickets>
                    <files>
                        <default>Laurent_OrderTickets.csv</default>
                    </files>
                </Laurent_OrderTickets>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
              <updates>
                  <ordertickets module="Laurent_OrderTikets">
                      <file>ordertickets.xml</file>
                  </ordertickets>
              </updates>
        </layout>
        <routers>
            <ordertickets>
                <use>standard</use>
                <args>
                    <module>Laurent_OrderTickets</module>
                    <frontName>ordertickets</frontName>
                </args>
            </ordertickets>
        </routers>
        <translate>
            <modules>
                <Laurent_OrderTickets>
                    <files>
                        <default>Laurent_OrderTickets.csv</default>
                    </files>
                </Laurent_OrderTickets>
            </modules>
        </translate>
    </frontend>
    <crontab>
        <jobs>
            <send_mail_ordertickets>
                <run>
                    <model>ordertickets/observer::sendEmailLastRequests</model>
                </run>
            </send_mail_ordertickets>
        </jobs>
    </crontab>
    <default>
        <sales>
            <ordertickets>
                <cron_expr>42 2,14 * * *</cron_expr>
                <cron_recipients>name@domain.com</cron_recipients>
            </ordertickets>
        </sales>
    </default>
</config>
