<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <sales>
            <groups>
                <ordertickets translate="label">
                    <label>Orders tickets</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>70</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <allow_reply_to_closed_ticket translate="label">
                            <label>Allow reply to closed ticket</label>
                            <sort_order>5</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </allow_reply_to_closed_ticket>
                        <cron_expr translate="label">
                            <label>Cron frequency</label>
                            <sort_order>10</sort_order>
                            <frontend_type>text</frontend_type>
                            <backend_model>ordertickets/config_cron</backend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cron_expr>
                        <cron_recipients translate="label comment">
                            <label>Cron recipients</label>
                            <comment>Separate recipients with comma</comment>
                            <sort_order>15</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cron_recipients>
                    </fields>
                </ordertickets>
            </groups>
        </sales>
    </sections>
</config>